* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #C7AC92;
}

a:link {
  color: white;
} 

a:visited {
  color: white;
} 

a:hover {
  color: #D4E09B;
}

a:active {
  color: #D4E09B;
}

main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}