.event > dl > dt {
  float: left;
  clear: left;
  width: auto;
}

.event > dl > dt::after {
  content: ":";
}

.event > dl > dd {
  margin: 0 0 0 100px;
  display: flex;
  align-items: flex-start;
}

.event {
  color: white;
  background-color: #94A89A;
  padding: 3.5vh;
  border-radius: 8px;
}