header {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0077c2;
  padding: 1rem;
}

nav > a {
  font-size: 1.5em;
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 0.3rem;
  margin: 0 2rem;
}

.title {
  color: white;
  font-size: 3.5em;
}

.selected-link {
  color: #D4E09B;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.header-container {
  display: flex;
}

.material-icons {
  font-size: 2em;
  padding-bottom: 0;
}

@media screen and (max-width: 620px) {
  .title {
    font-size: 2.5em;
  }
  nav > a {
    font-size: .8em;
    margin:.5em;
  }
}
