.event-card > dl > dt {
  float: left;
  clear: left;
  width: auto;
}

.event-card > dl > dt::after {
  content: ":";
}

.event-card > dl > dd {
  margin: 0 0 0 150px; 
  display: flex;
  align-items: flex-start;
 }

.event-card {
  margin: 3rem;
  border-radius: 10px;
  background-color: #0077c2;
  padding: 3.5vh;
  width: 50vh;
  box-shadow: 10px 10px 0px #80d6ff;
  color: white;
}

.complete-title {
  margin: 1vh;
}

.dog-name {
  font-size: 3.5vh;
  font-weight: bolder;
  border-bottom: solid white;
}

.event-date {
  margin: 0pc;
}

.event-description {
  color: #A44A3F;
}

@media screen and (max-width: 620px) {
  .event-card {
    width: 55vh;
    margin-top:0;
  }
}


@media screen and (min-width: 620px) and (max-width:950px) {
  .event-name, .event-date, .complete-title, .date {
    font-size: 1.5em;
  }
  .event-card {
    width:65vh;
  }
}