.event-card > dl > dt {
  float: left;
  clear: left;
  width: auto;
}

.event-card > dl > dt::after {
  content: ":";
}

/* .event-card > dl > dd {
  margin: 0 0 0 150px; */
  /* display: flex; */
  /* align-items: flex-start; */
/* } */

.event-card {
  margin: 3rem;
  border-radius: 10px;
  background-color: #94A89A;
  padding: 3.5vh;
  width: 50vh;
}

.complete-title {
  margin: 1vh;
}

.dog-name {
  font-size: 3vh;
}

.event-date {
  margin: 0pc;
}