form {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
  border-radius: 10px;
  background-color: #0077c2;
  padding: 3.5vh;
  width: 50vh;
  box-shadow: 20px 20px 0px #80d6ff;
}

input, button {
  margin-bottom: 1vw;
}

.select {
  width: 65%;
}

button {
  width: 15vh;
  height: 5vh;
  margin-top: 2vh;
  margin-bottom: 0;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
}

button:hover {
  cursor:pointer;
  background-color: #43a047;
  color:white;
}

.text {
  color: white;
}

p {
  color: #43a047;
}


