form {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
  border-radius: 10px;
  background-color: #94A89A;
  padding: 3.5vh;
  width: 50vh;
  box-shadow: 20px 20px 0px #D4E09B;
}

input, button {
  margin-bottom: 1vw;
}

.select {
  width: 85%;
}

button {
  width: 30%;
  margin-top: 2vh;
  margin-bottom: 0;
  border-radius: 5px;
  border: none;
  background-color: #C7AC92;
  color: white;
}

button:hover {
  cursor:pointer;
  background-color: #A44A3F;
}

.text {
  color: white;
}


