.dashboard {
  display: flex;
  flex-direction: column;
  color: white;
}

.dashboard > h2 {
  text-transform: capitalize;
}

.dashboard > section {
  display: flex;
}

.dashboard > section > section {
  padding: 1rem 5rem;
}

li {
  list-style-type: none;
}

.material-icons {
  font-size: 1.7em;
}

.section-titles {
  font-size: 2em;
}

.my-dogs {
  border-right: solid white;
  margin-right: 30vh;
}

.rewards {
  font-size: 1.7em;
}

@media screen and (max-width: 620px) {
  .dashboard > section {
    display: block;
  }
  .my-dogs {
    border-right: none;
    margin-right: 0vh;
  }
  dashboard > h2 {
    font-size: 2em;
  }
  .section-titles {
    font-size:1.7em;
    border-bottom: solid white;
    margin-bottom: 1vh;
  }
}

@media screen and (min-width: 620px) and (max-width:950px){
  .dashboard > section {
    display: block;
  }
  .my-dogs {
    border-right: none;
    margin-right: 0vh;
  }
  dashboard > h2 {
    font-size: 4em;
  }
  .section-titles {
    font-size:2.5em;
    border-bottom: solid white;
    margin-bottom: 1vh;
  }
  .rewards {
    font-size: 2em;
  }
  .dog-list {
    font-size: 1.5em;
  }
}
